/* remove all the bullets, borders and padding from the default list styling */

.menu ul {

padding:0;

margin:0;

list-style-type:none;

}

.menu ul ul {

width:400px;

}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */

.menu li {

float:left;

width:450px;

position:relative;

}

/* style the links for the top level */

.menu a, .menu a:visited {

display:block;

font-size:15px;

text-decoration:none; 

color:#9FB1BC; 

width:437px; 

height:40px; 

border:1px solid #fff; 

border-width:1px 1px 0 0; 

background:#2E5266; 

padding-left:10px; 

line-height:39px;

}

/* a hack so that IE5.5 faulty box model is corrected */

* html .menu a, * html .menu a:visited {

width:150px;

width:139px;

}



/* style the second level background */

.menu ul ul a.drop, .menu ul ul a.drop:visited {

background:#949e7c;

}

/* style the second level hover */

.menu ul ul a.drop:hover {

background:#c9ba65;

}

.menu ul ul :hover > a.drop {

background:#c9ba65;

}

/* style the third level background */

.menu ul ul ul a, .menu ul ul ul a:visited {

background:#e2dfa8;

}

/* style the third level hover */

.menu ul ul ul a:hover{

background:#7aaecc;

}

.menu ul ul ul :hover > a {

background:#7aaecc;

}



/* style the table so that it takes no part in the layout - required for IE to work */

.menu table {border-collapse:collapse; border:0; position:absolute; left:0; bottom:-1px;}



/* hide the sub levels and give them a positon absolute so that they take up no room */

.menu ul ul {

visibility:hidden;

position:absolute;

bottom:40px;

left:0; 

width:150px;

}

* html .menu ul ul {

bottom:30px;

}

/* position the third level flyout menu */

.menu ul ul ul{

left:250px; 

bottom:0;

width:250px;

}

/* position the third level flyout menu for a left flyout */

.menu ul ul ul.left {

left:-150px;

}





/* style the second level links */

.menu ul ul a, .menu ul ul a:visited {

background:#7aaecc; 

color:#000; 

height:auto; 

line-height:1em; 

padding:5px 10px; 

width:428px

/* yet another hack for IE5.5 */

}

* html .menu ul ul a{

width:150px;

w\idth:129px;

}





/* style the top level hover */

.menu a:hover, .menu ul ul a:hover{

color:#fff; 

background:#949e7c;

}

.menu :hover > a, .menu ul ul :hover > a {

color:#fff;

background:#949e7c;

}



/* make the second level visible when hover on first level list OR link */

.menu ul li:hover ul,

.menu ul a:hover ul{

visibility:visible;

height:auto;

}

/* keep the third level hidden when you hover on first level list OR link */

.menu ul :hover ul ul{

display:none;

}

/* keep the fourth level hidden when you hover on second level list OR link */

.menu ul :hover ul :hover ul ul{

display:none;

}

/* make the third level visible when you hover over second level list OR link */

.menu ul :hover ul :hover ul{ 

display:block;

bottom:0;

}

/* make the fourth level visible when you hover over third level list OR link */

.menu ul :hover ul :hover ul :hover ul { 

display:block;

bottom:0;

}
.menu {
  z-index=7;
}